@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --main-background-color: rgb(21,32,43);
  --main-app-color: rgb(29,161,242);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.app-body {
  height: 100vh;
  background-color: var(--main-background-color);
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

body {
  background-color: var(--main-background-color);
}

.modal-main {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-title {
  text-align: center;
  color: var(--main-app-color);
}

.modalTextArea {
  height: 100px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  resize: none;
}

.modal-main span {
  text-align: center;
  color: var(--main-app-color);
  margin-bottom: 6px;
}

::-webkit-file-upload-button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  color: rgb(182, 182, 182);
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.modal-main button {
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-main button:hover, .modal-main button:focus {
  border: 1px solid var(--main-app-color);
  transition: all 0.2s ease-in-out;
  color: var(--main-app-color);
}

.modal2-title {
  color: var(--main-app-color);
}

.logout-btn {
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.logout-btn:hover {
  border: 1px solid var(--main-app-color);
  transition: all 0.2s ease-in-out;
  color: var(--main-app-color);
}

.bio-btn {
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.bio-btn:hover {
  border: 1px solid var(--main-app-color);
  transition: all 0.2s ease-in-out;
  color: var(--main-app-color);
}

@keyframes modalAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(50px);
  }
}


::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-app-color);
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.cancelModalIcon {
  color: white;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.cancelModalIcon:hover {
  color: var(--main-app-color);
}

.account-info-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

@keyframes modal-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(5px);
  }
  100% {
    transform: scale(10px);
  }
}

.modal {
  animation: modal-animation 0.3s;
}

.file-span {
  margin-top: 10px;
  margin-left: 10px;
}

.modal-main > .custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.modalTextAreaTwo {
  height: 100px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  width: 95%;
  resize: none;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}