.join-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.join-page > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.join-page > input {
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    border-radius: 10px;
    text-indent: 5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 300px;
}

.main-join-btn {
    margin-top: 20px;
    border-radius: 7px;
    width: fit-content;
    padding: 10px;
    border: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--main-app-color);
    color: var(--main-background-color);
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
}

.main-join-btn:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}